[DEFAULT]
db_name = aio_blog
db_host = localhost
db_port = 5432
db_user = aio_blog
db_password = aio_blog

[app:main]
use = egg:aio_blog

[alembic]
script_location = alembic
file_template = %%(slug)s_%%(rev)s
sqlalchemy.url = %(postgres_dsn)s

[loggers]
keys = root, sqlalchemy, alembic

[handlers]
keys = console

[logger_alembic]
level = DEBUG
handlers =
qualname = alembic

[logger_root]
level = INFO
handlers = console

[logger_sqlalchemy]
level = INFO
handlers =
qualname = sqlalchemy.engine

[formatters]
keys = generic

[formatter_generic]
format = %(asctime)-15s %(levelname)-5.5s [%(name)s] %(message)s

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic